<div class="container">
    <div class="p-5 mt-3 bg-light rounded">
        <h1>Welcome To DEX</h1>
        <p *ngIf="!token" class="lead">Please login to use DEX</p>
        <p *ngIf="token" class="lead" style="display: inline-block;">Login successful go to <a routerLink="/landing" style="display: inline-block;cursor: pointer;">DEX Landing</a></p>
   
        <li *ngIf="!token" class="d-flex">
            <a class="nav-link" routerLink="/landing" (click)="login()" style=color:#000000>Login</a>
        </li>
    </div>
</div>