<div mat-dialog-title>
    Download DEX Report
</div>
<mat-dialog-content class="mat-typography">
    <div class="hero-content-right">
        <div class="form-group">
          <label for="applicationName">Application Name<span class="required-asterisk">*</span></label>
          <input type="text" id="applicationName" [(ngModel)]="applicationName" placeholder="Enter Application Name" required>
        </div>
        <div class="form-group" style="margin-left: 40px;">
          <label for="buildId">Build ID<span class="required-asterisk">*</span></label>
          <input type="text" id="buildId" [(ngModel)]="buildId" placeholder="Enter Build ID" required>
        </div>
        <button class="scheduling-section-button" type="submit" (click)="getSnapssss()">Get Snaps</button>

      <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
    </div>
</mat-dialog-content>