.mat-dialog-title{
    margin-top: -24px !important;
    margin-left: -24px !important;
    width: 105.7% !important;
    padding: 15px 0 15px 20px !important;
    /* top right bottom left */
    display: block;
    background-color: #016E73 !important;

    font-family: fort, sans-serif;
    font-size: 16px;
    line-height: 19.03px;
    font-weight: 500;
    color: #fff;
}

.mat-dialog-title img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 1%;
}

.hero-content-right form{
    padding-left: 10px;
}

.form-group {
    display: inline-block;
}

.hero-content-right form label{
    font-family: fort, sans-serif;
    font-size: 16px;
    line-height: 21.74px;
    font-weight: 500;
    color: #000000;
    height: 22px;
}

.required-asterisk {
    color: #FA0F0F; 
    margin-left: 4px;
}

.hero-content-right form input{
    font-family: fort, sans-serif;
    font-size: 14px;
    line-height: 19.03px;
    font-weight: 400;
    background-color: #F3F5F8;
    width: 390px;
    border: none;
    outline: none;
    padding: 11px;
    margin: 6px 0 20px;
    display: flex;
}

input::placeholder{
    color: #94A2AB;
}

.scheduling-section-button{
    font-family: fort, sans-serif;
    width: 136px;
    height: 38px;
    background-color: #003C51;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 500;
    margin-left: 1.5%;
    margin-bottom: 4%;
}